
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Polling.Press
	</title>
</head>
<template name="layout">
	{{> PublicLayout}}
</template>





<!--

	PublicLayout

 -->
<template name="PublicLayout">
	<div id="wrap">
		{{> Navbar}}

		{{> AdminControls}}

		<!-- Yield -->
		<div class="yield-container container-fluid">
			{{> yield}}
		</div>
	</div>
</template>




<!-- fixed left navbar -->
<template name="Navbar">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-container">
			<div class="navbar-left-toggle hidden">
				<a class="" data-toggle="visible" data-target=".navbar-left">
					<i class="fa fa-close"></i>
				</a>
			</div>
			<div id="menu" class="navbar-aside visible">
				{{> MainMenu}}
			</div>
		</div>
	</div>
</template>



<!-- Admin Controls -->
<template name="AdminControls">
	<div class="admin-controls">
	    <a href="#" class="btn batch-refresh btn-primary">Batch Refresh</a>
	</div>
</template>





<!--

	PrivateLayout

 -->
<template name="PrivateLayout">
	<div id="wrap">
		{{> Navbar}}

		{{> AdminControls}}

		<!-- Yield -->
		<div class="yield-container">
			{{> yield}}
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container">
			<p class="text-muted">
				Collecting all the chatter around the 2016 Presidential Elections
			</p>
		</div>
	</div>
</template>

