
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		The Gif Elections
	</title>
</head>
<template name="layout">
	{{> PublicLayout}}
</template>





<!--

	PublicLayout

 -->
<template name="PublicLayout">
	<div id="wrap">
		<!-- left navbar -->
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-container">
				<div class="navbar-left-toggle hidden">
					<a class="" data-toggle="visible" data-target=".navbar-left">
						<i class="fa fa-close"></i>
					</a>
				</div>
				<div id="menu" class="navbar-aside visible">
					{{> MainMenu}}
				</div>
			</div>
		</div>

		<!-- yield -->
		<div class="yield-container">
			{{> yield}}
		</div>
	</div>
</template>




<!--

	PrivateLayout

 -->
<template name="PrivateLayout">
	<div id="wrap">
		<!-- left navbar -->
		<div class="navbar navbar-default" role="navigation">
			<div class="navbar-container">
				<div class="navbar-left-toggle hidden">
					<a class="" data-toggle="visible" data-target=".navbar-left">
						<i class="fa fa-close"></i>
					</a>
				</div>
				<div id="menu" class="navbar-aside visible">
					{{> MainMenu}}
				</div>
			</div>
		</div>
		<div class="yield-container">
			{{> yield}}
		</div>
	</div>
	<div id="footer">
		<div class="footer-container container">
			<p class="text-muted">
				Collecting all the Gif chatter around the 2016 Presidential Elections
			</p>
		</div>
	</div>
</template>

