<template name="Feeds">
    <div class="feeds-container flex-container flex-row flex-wrap flex-center">
        {{#each feeds}}
            {{> SingleFeed}}
        {{else}}
            <p class="lead">Sorry, No Feeds Currently Available</p>
        {{/each}}
    </div>
</template>


<template name="SingleFeed">
    <div class="feed-container  text-center">
            <div class="image-container crop-container">
                <div class="feed-portrait crop-circle">
                    <img src="/images/portrait.jpg" alt="placeholder" class="img-responsive">
                </div>
            </div>
            <h3 class="name">{{name}}</h3>
            <ul class="nav nav-pills">
                {{#each hashtags}}
                    <li class="hashtag"><a data-query-tag="{{tag}}"><i class="fa fa-tag"></i> {{tag}}</a></li>
                {{else}}
                    <li>No Tags Found</li>
                {{/each}}
            </ul>
    </div>
</template>